menu "FMCU Drivers Configuration"
    config FM_USING_DEVICE_DRIVERS
        bool "Enable device drivers"
        default n

    if FM_USING_DEVICE_DRIVERS
        config FM_USING_SERIAL
            bool "Enable serial driver"
            default n
    endif
endmenu
