menu "FMCU Drivers Configuration"
    config FM_USING_DEVICE_DRIVERS
        bool "Enable device drivers"
        default n

    if FM_USING_DEVICE_DRIVERS
        config FM_USING_SERIAL
            bool "Enable serial driver"
            default n
        
        if FM_USING_SERIAL
            config FM_SERIAL_USING_DMA
                bool "Enable serial DMA mode"
                default n
        endif

        config FM_USING_PIN
            bool "Enable pin driver"
            default n
        
        config FM_USING_ADC
            bool "Enable adc driver"
            default n
        
        config FM_USING_PWM
            bool "Enable pwm driver"
            default n
    endif
endmenu
