mainmenu "FastMCU Configuration"

config BSP_ROOT_DIR
    string
    option env="BSP_ROOT_DIR"
    default "."

config FM_ROOT_DIR
    string
    option env="FM_ROOT_DIR"
    default "../../.."

config SOC_STM32F407ZG
    bool
    select SOC_SERIES_STM32F4
    select FM_USING_COMPONENTS_INIT
    default y

config BOARD_STM32F407_SPARK
    bool
    default y

source "$FM_ROOT_DIR/Kconfig"
source "../libraries/Kconfig"
source "board/Kconfig"
