menu "QKit Examples Configuration"
    config EXAMPLES_ENABLE
        bool "Enable examples"
        default n

    if EXAMPLES_ENABLE
        config EXAMPLE_TIMER_ENABLE
            bool "Enable timer example"
            default n
    
        config EXAMPLE_MEMH_ENABLE
            bool "Enable memh example"
            default n
    endif
endmenu
