menu "FMCU Kernel Configuration"
    config SECTION_ENABLE
        bool
        default y
        if SECTION_ENABLE
            config FM_SECTION_LOG
                bool "Enable section log"
                default n
        endif
        
    menuconfig DEBUG_ENABLE
        bool "Enable Debug"
        default y
        if DEBUG_ENABLE
            config LOG_BUF_SIZE
                int "Debug log buffer size"
                range 0 1024
                default 256

            config LOG_WITH_PARAM
                bool "Debug with parameters"
                default y

            choice
                prompt "Debug default level"
                default LOG_LVL_DEBUG

                config LOG_LVL_DEBUG
                    bool "Level debug"

                config LOG_LVL_INFO
                    bool "Level info"

                config LOG_LVL_WARNING
                    bool "Level warning"

                config LOG_LVL_ERROR
                    bool "Level error"
            endchoice

        endif
endmenu
