menu "FMCU Kernel Configuration"
    config SECTION_ENABLE
        bool
        default y
        if SECTION_ENABLE
            config FM_SECTION_LOG
                bool "Enable section log"
                default n
        endif
        
    menuconfig DEBUG_ENABLE
        bool
        default y
        if DEBUG_ENABLE
            config DEBUG_BUF_SIZE
                int "Debug log buffer size"
                range 0 1024
                default 256

            config DEBUG_COLOR
                bool "Debug color"
                default n
        endif
    
    menuconfig TIMER_ENABLE
        bool "Enable Soft Timer"
        default n
        if TIMER_ENABLE
            config TIMER_RUN_SECTION
                bool "timer run in section"
                default n
        endif

    menuconfig MEM_ENABLE
        bool "Enable memory"
        default n
        if MEM_ENABLE
            config MEM_BUF_SIZE
                int "memory buffer size"
                range 0 102400
                default 2048

            config MEM_MONITOR_ENABLE
                bool "memory monitor"
                default n
        endif
endmenu
