menu "FMCU Kernel Configuration"
    config SECTION_ENABLE
        bool
        default y
        if SECTION_ENABLE
            config FM_SECTION_LOG
                bool "Enable section log"
                default n
        endif
        
    menuconfig DEBUG_ENABLE
        bool
        default y
        if DEBUG_ENABLE
            config DEBUG_BUF_SIZE
                int "Debug log buffer size"
                range 0 1024
                default 256

            config DEBUG_COLOR
                bool "Debug color"
                default n
        endif
    
    config TIMER_ENABLE
        bool "Enable soft timer"
        default n

endmenu
